
body {
    padding-left: 340px;
}

/*  */

.ContainerPofile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ImageProfile {
    width: 160px;
    border-radius: 50%;
    margin-top: 15px;
}
.sidebarContainer {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    height: 100vh;
    width: 280px;
    overflow-y: auto;
}


/*  */

.backgroundColor {
    background-color: white;
}


/*  */

.ContainerMainRight {
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 10px;
}


/*  */

.landingIMG {
    width: 400px;
}

.landing_page {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.landingText {
    font-size: 46px;
}
.aboutMe {
    display: grid;
    grid-template-columns: 450px;
    font-size: 13px;
}
.DetailME {
    border: none;
    background-color: #7091E6;
    color: white;
    border-radius: 4px;
    padding: 10px 20px 10px 20px;
    font-size: 13px;
}

/*  */

.social_media_icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.social_icons {
    background-color: #7091E6;
    padding: 5px;
    border-radius: 50%;
}

/*  */

.Detailabout {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bgcolor {
    background-color: #7091E6;
    padding: 3px 5px 3px 5px;
}

.skillShow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skillholder {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-bottom: 10px;
}

.iconsColor {
    filter: brightness(0) saturate(100%) invert(73%) sepia(40%) saturate(5207%) hue-rotate(196deg) brightness(91%) contrast(98%);
    width: 20px;
}


/*  */

.serviceText {
    font-size: 13px;
    color: rgb(80, 80, 80);
}

/*  */

.Card1 {
    width: 300px;
    background-color: #b0bee3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CardFilter {
    filter: brightness(0) saturate(100%) invert(31%) sepia(13%) saturate(2984%) hue-rotate(190deg) brightness(97%) contrast(90%);
    padding: 30px;
    width: 200px;
}

.cardText {
    font-size: 12px;
}

.CardFlex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*  */

.ProtImg {
    width: 200px;
}

.PortfolioContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portoContainer {
    display: grid;
    grid-template-columns: 230px 230px 230px 230px;
    row-gap: 25px;
    opacity: 90%;
}


/*  */

.rightBar {
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    height: 100vh;
    width: 130px;
}


/*  */


.EducationContainer {
    background-color: white;
    padding: 20px;
}

.EducationFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.EducationDetail {
    display: grid;
    grid-template-columns: 550px;
}