
body {
    padding-left: 350px;
}

/*  */

.hum {
    width: 25px;
    display: none;
}

.ContainerPofile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ImageProfile {
    width: 160px;
    border-radius: 50%;
    margin-top: 15px;
}
.sidebarContainer {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    height: 100vh;
    width: 280px;
    overflow-y: auto;
    overflow-x: hidden;
}


/*  */

.backgroundColor {
    background-color: white;
}


/*  */

.ContainerMainRight {
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 10px;
}


/*  */

.landingIMG {
    width: 400px;
}

.landing_page {
    display: flex;
    justify-content: center;
    align-items: center;
}
.landingText {
    font-size: 46px;
}
.aboutMe {
    display: grid;
    grid-template-columns: 450px;
    font-size: 13px;
}
.DetailME {
    border: none;
    background-color: #7091E6;
    color: white;
    border-radius: 4px;
    padding: 10px 20px 10px 20px;
    font-size: 13px;
}

/*  */

.social_media_icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.social_icons {
    background-color: #7091E6;
    padding: 5px;
    border-radius: 50%;
}

/*  */

.Detailabout {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bgcolor {
    background-color: #7091E6;
    padding: 3px 5px 3px 5px;
}

.skillShow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skillholder {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-bottom: 10px;
}

.iconsColor {
    filter: brightness(0) saturate(100%) invert(73%) sepia(40%) saturate(5207%) hue-rotate(196deg) brightness(91%) contrast(98%);
    width: 20px;
}


/*  */

.serviceText {
    font-size: 13px;
    color: rgb(80, 80, 80);
}

/*  */

.Card1 {
    width: 300px;
    background-color: #b0bee3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CardFilter {
    filter: brightness(0) saturate(100%) invert(31%) sepia(13%) saturate(2984%) hue-rotate(190deg) brightness(97%) contrast(90%);
    padding: 30px;
    width: 200px;
}

.cardText {
    font-size: 12px;
}

.CardFlex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*  */

.ProtImg {
    width: 200px;
    filter: blur(5px);
}

.ProtImg:hover {
    filter: blur(0px);
    transition: 0.5s;
    cursor: pointer;
}

.PortfolioContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portoContainer {
    display: grid;
    grid-template-columns: 230px 230px 230px 230px;
    row-gap: 30px;
    opacity: 90%;
}


/*  */

.rightBar {
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    height: 100vh;
    width: 110px;
}


/*  */


.EducationContainer {
    background-color: white;
    padding: 40px 10px 40px 10px;
}

.EducationFlex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.EducationDetail {
    display: grid;
    grid-template-columns: 550px;
    font-size: 12px;
}

.datebg1 {
    background-color: #b9cdff;
    color: white;
}

.datebg2 {
    background-color: #799fff;
    color: white;
}

.datebg3 {
    background-color: #0048ff;
    color: white;
}

.hrFlex {
    margin: auto;
}


/*  */

.Map {
    background-color: #7091E6;
}

.MainMap {
    width: 100%;
    margin: 0;
}

.ContactInfo {
    width: 290px;
    height: 230px;
    background-color: #ADBBDA;
}

.locationIcon {
    width: 60px;
    filter: brightness(0) saturate(100%) invert(30%) sepia(22%) saturate(2368%) hue-rotate(196deg) brightness(94%) contrast(87%);
}

.ContactCard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.coreContact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.contSize {
    font-size: 15px;
}

.ContactFlexCOntainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.FinalFooterMessage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.FooterContainer {
    background-color: #ADBBDA;
    color: rgb(225, 225, 225);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


/*  */

.rightBar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.serviceIC {
    width: 20px;
}

.FlexIcon {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rightIconID {
    width: 40px;
    filter: brightness(0) saturate(100%) invert(77%) sepia(68%) saturate(4992%) hue-rotate(199deg) brightness(97%) contrast(86%);
}


/*  */


.loadingHear {
    background-color: #206dc7;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Loadoff {
    display: none;
}

/*  */ 

.takeOut {
    display: block;
}

.takeOutCan {
    display: none;
}

.cancleBtn {
    width: 35px;
    filter: brightness(0) saturate(100%) invert(77%) sepia(68%) saturate(4992%) hue-rotate(199deg) brightness(97%) contrast(86%);
    display: none;
}

.off {
    display: none;
}

.offCan {
    display: none;
}

.on {
    width: 35px;
    filter: brightness(0) saturate(100%) invert(77%) sepia(68%) saturate(4992%) hue-rotate(199deg) brightness(97%) contrast(86%);
    margin-left: 20px;
    margin-top: 10px;
}

.increaseWidCan {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        height: 100vh;
        width: 40px;
        overflow-y: auto;
        overflow-x: hidden;
}

/*  */ 

.iconsFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}