
body {
    padding-left: 300px;
}

/*  */

.ContainerPofile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ImageProfile {
    width: 160px;
    border-radius: 50%;
    margin-top: 15px;
}
.sidebarContainer {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    height: 100vh;
    width: 280px;
}


/*  */

.MainBody {
    background-color: rgb(255, 255, 255);
    
}


/*  */

.ContainerMainRight {
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 10px;
}


/*  */

.landingIMG {
    width: 400px;
}

.landing_page {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.landingText {
    font-size: 46px;
}
.aboutMe {
    display: grid;
    grid-template-columns: 450px;
    font-size: 13px;
}
.DetailME {
    border: none;
    background-color: #7091E6;
    color: white;
    border-radius: 4px;
    padding: 10px 20px 10px 20px;
    font-size: 13px;
}

/*  */

.social_media_icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.social_icons {
    background-color: #7091E6;
    padding: 5px;
    border-radius: 50%;
}