
@media (max-width : 1400px) {
    body {
        padding-left: 320px;
    }
}

@media (max-width : 1370px) {
    body {
        padding-left: 295px;
    }
}

@media (max-width : 1360px) {
    body {
        padding-left: 290px;
    }
    .rightBar {
        width: 90px;
    }
}

@media (max-width : 1320px) {
    .landing_page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    .textContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }
    .landingPageImage{
        padding-bottom: 40px;
    }
    .ContainerMainRight {
        display: grid;
        grid-template-columns: 800px;
        padding-left: 50px;
    }
    .CardFilter {
        width: 150px;
    }
    .Card1 {
        width: 250px;
    }
    .ProtImg {
        width: 150px;
    }
    .portoContainer {
        display: grid;
        grid-template-columns: 180px 180px 180px;
        row-gap: 30px;
        opacity: 90%;
    }
    .locationIcon {
        width: 40px;
    }
    .Detailabout {
        font-size: 10px;
    }
    .contSize {
        font-size: 12px;
    }
    .ContactInfo {
        width: 250px;
        height: 200px;
    }
}

@media (max-width : 1255px) {
    body {
        padding-left: 260px;
    }
}

@media (max-width : 1215px) {
    body {
        padding-left: 320px;
    }
    .ContainerMainRight {
        grid-template-columns: 650px;
    }
    .CardFilter {
        width: 120px;
    }
    .Card1 {
        width: 200px;
    }
    .EducationDetail {
        grid-template-columns: 370px;
        font-size: 10px;
    }
    .ContactInfo {
        width: 200px;
        height: 200px;
    }
}

@media (max-width : 1175px) {
    body {
        padding-left: 300px;
    }
}