
@media (max-width : 1400px) {
    body {
        padding-left: 320px;
    }
}

@media (max-width : 1370px) {
    body {
        padding-left: 295px;
    }
}

@media (max-width : 1360px) {
    body {
        padding-left: 290px;
    }
    .rightBar {
        width: 90px;
    }
}

@media (max-width : 1320px) {
    .landing_page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    .textContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }
    .landingPageImage{
        padding-bottom: 40px;
    }
    .ContainerMainRight {
        display: grid;
        grid-template-columns: 800px;
        padding-left: 50px;
    }
    .CardFilter {
        width: 150px;
    }
    .Card1 {
        width: 250px;
    }
    .ProtImg {
        width: 150px;
    }
    .portoContainer {
        display: grid;
        grid-template-columns: 180px 180px 180px;
        row-gap: 30px;
        opacity: 90%;
    }
    .locationIcon {
        width: 40px;
    }
    .Detailabout {
        font-size: 10px;
    }
    .contSize {
        font-size: 12px;
    }
    .ContactInfo {
        width: 250px;
        height: 200px;
    }
}

@media (max-width : 1255px) {
    body {
        padding-left: 260px;
    }
}

@media (max-width : 1215px) {
    body {
        padding-left: 320px;
    }
    .ContainerMainRight {
        grid-template-columns: 650px;
    }
    .CardFilter {
        width: 120px;
    }
    .Card1 {
        width: 200px;
    }
    .EducationDetail {
        grid-template-columns: 370px;
        font-size: 10px;
    }
    .ContactInfo {
        width: 200px;
        height: 200px;
    }
}

@media (max-width : 1175px) {
    body {
        padding-left: 300px;
    }
}

@media (max-width : 1130px) {
    body {
        padding-left: 270px;
    }
}

@media (max-width : 1090px) {
    body {
        padding-left: 250px;
    }
    .rightIconID {
        width: 25px;
    }
    .ContainerMainRight {
        grid-template-columns: 1fr 100px;
    }
}

@media (max-width : 1035px) {
    .ContactFlexCOntainer {
        flex-direction: column;
        row-gap: 30px;
    }
    .locationIcon {
        width: 60px;
    }
    .ContactInfo {
        width: 290px;
        height: 230px;
        border-radius: 10px;
    }
    .contSize {
        font-size: 15px;
    }
}

@media (max-width : 1015px) {
    body {
        padding-left: 290px;
    }
    .EducationFlex {
        flex-direction: column;
        row-gap: 20px;
    }
    .ContainerMainRight {
        display: grid;
        grid-template-columns: 500px;
    }
    .CardFlex {
        flex-direction: column;
        row-gap: 30px;
    }
    .CardFilter {
        filter: brightness(0) saturate(100%) invert(31%) sepia(13%) saturate(2984%) hue-rotate(190deg) brightness(97%) contrast(90%);
        padding: 30px;
        width: 200px;
    }
    .Card1 {
        width: 300px;
        background-color: #b0bee3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media (max-width : 980px) {
    body {
        padding-left: 270px;
    }

    .portoContainer {
        grid-template-columns: 230px 230px;
    }
    .PortfolioContainer {
        padding-left: 20px;
    }
}


@media (max-width : 950px) {
    .ContainerPofile {
        display: none;
    }
    .sidebarContainer {
        width: 100px;
    }
    body {
     padding-left: 180px;       
    }
    .hum {
        display: block;
        filter: brightness(0) saturate(100%) invert(73%) sepia(40%) saturate(5207%) hue-rotate(196deg) brightness(91%) contrast(98%);
    width: 20px;
    }
    .increaseWid {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        height: 100vh;
        width: 280px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .
}

@media (max-width : 915px) {
    body {
        padding-left: 150px;
    }
}

@media (max-width : 850px) {
    body {
        padding-left: 130px;
    }
}

@media (max-width : 800px) {
    body {
        padding-left: 100px;
    }
}

@media (max-width : 760px) {
    body {
        padding-left: 80px;
    }
}

@media (max-width : 740px) {
    body {
        padding-left: 60px;
    }
    .sidebarContainer {
        width: 80px;
    }
}

@media (max-width : 710px) {
    body {
        padding-left: 50px;
    }
    .sidebarContainer {
        width: 80px;
    }
}

@media (max-width : 700px) {
    body {
        padding-left: 35px;
    }
    .sidebarContainer {
        width: 60px;
    }
}

@media (max-width : 680px) {
    body {
        padding-left: 60px;
    }
    .sidebarContainer {
        width: 80px;
    }
    .ContainerMainRight {
        grid-template-columns: 460px;
    }
    .rightIconID {
        width: 18px;
    }
    .rightBar {
        width: 70px;
    }
    .landingText {
        font-size: 40px;
    }
    .aboutMe {
        grid-template-columns: 400px;
        font-size: 11px;
        text-align: center;
    }
}

@media (max-width : 650px) {
    .sidebarContainer {
        width: 50px;
    }
    body {
        padding-left: 35px;
    }
}


@media (max-width : 630px) {
    body {
        padding-left: 25px;
    }
    .rightBar { 
        width: 60px;
    }
    .serviceText {
        font-size: 11px;
        display: grid;
        grid-template-columns: 350px;
    }
    .servgird {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width : 600px) {
    .ContainerMainRight {
        grid-template-columns: 400px;
    }
    body {
        padding-left: 50px;
    }
    .landingText {
        font-size: 35px;
    }
    .aboutMe {
        font-size: 9px;
        grid-template-columns: 300px;
        padding-top: 15px;
    }
    .ProtImg {
        width: 200px;
    }
    .portoContainer {
        grid-template-columns: 230px;
    }
}

@media (max-width : 575px) {
    body {
        padding-left: 35px;
    }
}

@media (max-width : 555px) {
    body {
        padding-left: 20px;
    }
}

@media (max-width : 535px) {
    body {
        padding-left: 10px;
    }
}

@media (max-width : 525px) {
    body {
        padding-left: 20px;
    }
    .ContainerMainRight {
        grid-template-columns: 350px;
    }
    .landingIMG {
        width: 300px;
    }
    .serviceText {
        grid-template-columns: 300px;
        text-align: center;
    }
    .serviceText {
        font-size: 10px;
    }
    .EducationDetail {
        grid-template-columns: 300px;
        font-size: 10px;
    }
}

@media (max-width : 490px) {
    body {
        padding-left: 15px;
    }
}

@media (max-width : 480px) {
    .rightBar {
        width: 40px;
    }
    body {
        padding-left: 20px;
    }
}

@media (max-width : 460px) {
    body {
        padding-left: 10px;
    }
}

@media (max-width : 455px) {
    .ContainerMainRight {
        grid-template-columns: 300px;
    }
    .landingIMG {
        width: 250px;
    }
    .serviceText {
        grid-template-columns: 260px;
        text-align: center;
    }
    .serviceText {
        font-size: 10px;
    }
    .EducationDetail {
        grid-template-columns: 260px;
        font-size: 10px;
    }
    .landingText {
        font-size: 30px;
    }
    .aboutMe {
        grid-template-columns: 260px;
        padding-top: 10px;
    }
    body {
        padding-left: 30px;
    } 
}

@media (max-width : 430px)  {
    body {
        padding-left: 20px;
    }
}

@media (max-width : 415px) {
    body {
        padding-left: 5px;
    }
    .sidebarContainer {
        width: 40px;
    }
}

@media (max-width : 400px) {
    body {
        padding-left: 0px;
    }
}